body {
  margin:0px;
  background-color:rgba(98, 98, 98, 1);
  background-image:none;
  position:relative;
  left:-482px;
  width:209px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u708 {
  position:absolute;
  left:482px;
  top:287px;
}
#u708_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:209px;
  height:24px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#E6E9F0;
  line-height:24px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:177px;
  height:24px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#E6E9F0;
  line-height:24px;
}
#u709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:209px;
  height:24px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u708_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F96D1F;
  line-height:24px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:177px;
  height:24px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F96D1F;
  line-height:24px;
}
#u711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  height:20px;
  display:flex;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
